
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343F4F;
}
.wrapper{
  /* ทำให้เป็นกล่อง สี่เหลี่ยม */
  display: flex;
}
  .wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  /* ทำให้ขยับไปมา */
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
  /* click */
  .btns a{
    position: relative;
    margin: 0 20px;
    height: 60px;
    width: 200px;
    display: block;
    line-height: 60px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
  }
  /* เลือกว่าจะ ไฮไลท์ ไหนก่อน*/
  .btns a:first-child{
    background: linear-gradient(-90deg, #f5ce62, #e85a19);
  }
  .btns a:last-child{
    background: linear-gradient(90deg, #0162c8, #55e7fc);
  }
  .btns a > span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: ripples 0.6s linear infinite;
  }
  @keyframes ripples {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }